<div id="singlePost">
        <h3 class="post_title"> <%= link_to "Post ##{post.id}", user_post_path(@user,post) %> </h3>
        <p><b><%= post.title %></b></p>
        <p><%= post.text %></p>
        <label class="counters">Comments:<%= post.comments_counter %> Likes:<%= post.likes_counter %> </label>
        <%= button_to link_to "Delete", user_post_path(@user.id, post.id), method: :delete%>
         
</div> 